<md-list-item class="md-2-line" ng-click="$ctrl.toggleAlbums()">
    <md-icon>
        {{!$ctrl.item.images[$ctrl.item.images.length - 1].url? 'mic': ''}}
        <img ng-src="{{$ctrl.item.images[$ctrl.item.images.length - 1].url}}" alt="{{$ctrl.item.name}}" ng-if="$ctrl.item.images[$ctrl.item.images.length - 1].url">
    </md-icon>
    <div class="md-list-item-text" flex>
        <h3>{{$ctrl.item.name}}</h3>
        <h4>
            {{$ctrl.item.type}}
        </h4>
    </div>
    <md-icon ng-show="!$ctrl.showAlbums">expand_more</md-icon>
    <md-icon ng-show="$ctrl.showAlbums">expand_less</md-icon>
</md-list-item>
<div ng-show="$ctrl.showAlbums" flex-offset="5">
    <md-subheader>Albums</md-subheader>
    <md-list class="md-2-line">
        <md-list-item class="md-2-line" ng-show="$ctrl.isLoading">
            <div class="md-list-item-text" layout="column" layout-align="center center">
                <md-progress-circular md-mode="indeterminate" md-diameter="30px" flex></md-progress-circular>
            </div>
        </md-list-item>
        <album ng-repeat="item in $ctrl.albums" item="item"></album>
    </md-list>
</div>