<div layout="column" layout-fill>
    <md-input-container md-no-float layout="column">
        <input name="searchText" type="text" ng-model="$ctrl.searchText" placeholder="Type Album or Artist" md-whiteframe="3" ng-change="$ctrl.search($ctrl.searchText)" flex>
        <md-progress-circular md-mode="indeterminate" md-diameter="30px" flex ng-if="$ctrl.isLoading"></md-progress-circular>
    </md-input-container>
    <md-content class="search-results-container" ng-if="$ctrl.searchResults.artists.length || $ctrl.searchResults.albums.length" flex>
        <md-tabs md-selected="$ctrl.selectedTab" layout-fill>
            <md-tab>
                <md-tab-label>TOP</md-tab-label>
                <md-tab-body>
                    <md-subheader>Artists</md-subheader>
                    <md-list>
                        <artist ng-repeat="item in $ctrl.searchResults.artists.slice(0,5)" item="item"></artist>
                        <md-list-item class="more-artists md-2-line" ng-click="$ctrl.goToTab(1)">
                            <div class="md-list-item-text" layout="column" layout-align="center center">
                                <h3>More artists...</h3>
                            </div>
                        </md-list-item>
                    </md-list>
                    <md-divider></md-divider>
                    <md-subheader>Albums</md-subheader>
                    <md-list>
                        <album ng-repeat="item in $ctrl.searchResults.albums.slice(0,5)" item="item"></album>
                        <md-list-item class="more-albums md-2-line" ng-click="$ctrl.goToTab(2)">
                            <div class="md-list-item-text" layout="column" layout-align="center center">
                                <h3>More albums...</h3>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>ARTISTS</md-tab-label>
                <md-tab-body>
                    <md-list>
                        <artist ng-repeat="item in $ctrl.searchResults.artists" item="item"></artist>
                        <md-list-item class="md-2-line" ng-click="$ctrl.getMore('artist')">
                            <div class="md-list-item-text" layout="column" layout-align="center center">
                                <h3 ng-if="!$ctrl.isLoading">More...</h3>
                                <md-progress-circular md-mode="indeterminate" md-diameter="30px" flex ng-if="$ctrl.isLoading"></md-progress-circular>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>ALBUMS</md-tab-label>
                <md-tab-body>
                    <md-list>
                        <album ng-repeat="item in $ctrl.searchResults.albums" item="item"></album>
                        <md-list-item class="md-2-line" ng-click="$ctrl.getMore('album')">
                            <div class="md-list-item-text" layout="column" layout-align="center center">
                                <h3 ng-if="!$ctrl.isLoading">More...</h3>
                                <md-progress-circular md-mode="indeterminate" md-diameter="30px" flex ng-if="$ctrl.isLoading"></md-progress-circular>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>
</div>