<div layout="column" layout-fill>
    <md-input-container md-no-float layout="column">
        <input name="searchText" type="text" ng-model="$ctrl.searchText" placeholder="Type Album or Artist" md-whiteframe="3" ng-change="$ctrl.search($ctrl.searchText)" flex>
        <md-progress-circular md-mode="indeterminate" md-diameter="30px" flex ng-if="$ctrl.isLoading"></md-progress-circular>
    </md-input-container>
    <md-content ng-show="$ctrl.searchResults.top.length" flex>
        <md-tabs layout-fill>
            <md-tab ng-repeat="(name, resultSet) in $ctrl.searchResults">
                <md-tab-label>{{name | uppercase}}</md-tab-label>
                <md-tab-body>
                    <md-list>
                        <md-list-item class="md-2-line" ng-repeat="item in resultSet">
                            <md-icon>
                                {{!item.images[item.images.length - 1].url? (item.type === 'artist'?'mic':'album'): ''}}
                                <img ng-src="{{item.images[item.images.length - 1].url}}" alt="{{item.name}}" ng-if="item.images[item.images.length - 1].url">
                            </md-icon>
                            <div class="md-list-item-text">
                                <h3>{{item.name}}</h3>
                                <h4>{{item.type}}</h4>
                                <p>{{item.notes}}</p>
                            </div>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>
</div>